.SignUp {
  padding: 1%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;

  width: 100%;
  height: 100%;
}

.SignUp .form-div {
  background-color: #99ddb3;
  color: #67a17e;
  border-radius: 20px;
  box-sizing: border-box;
  height: 340px;
  padding: 30px;
  width: 640px;
  margin: auto;
}

.btn {
  margin-top: 10%;
  margin-left: 43%;
}
